<h1>Poll: <%= @poll.name %> </h1>

<div class="row">
  <div class="span2">
    <strong>Public link:</strong>
  </div>
  <div class="span10">
    <%= link_to "http://#{request.host}:#{request.port}#{poll_path(@poll)}" %>
  </div>
</div>
<div class="row">
  <div class="span2">
    <strong>Edit link:</strong>
  </div>
  <div class="span10">
   <%= link_to nil, "http://#{request.host}:#{request.port}#{edit_poll_path(@poll, :maker_key => @poll.maker_key)}" %> <br /><em>Do not give the edit link to anyone untrustworthy</em>
  </div>
</div>
