// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.giant {
  font-size:200% !important;
  width:600px;
  height:200% !important;
}