<% [:success, :error].each do |key| %>
  <% if flash[key] %>
    <div class="alert alert-<%= key %>">
      <%= flash[key] %>
      <a class="close" data-dismiss="alert">&#215;</a>
    </div>
  <% end %>
<% end %>
